.contact {
    background: #E5D9B6;
    position: relative;
    margin-left: 50vh;
    border-radius: 7px;
    box-shadow: 0 2px 5px #5F8D4E;
    padding: 10px;
    width: 240px;
    margin: 16px;
    float: left;
  }
  .contact h1 {
    font-size: 1.1em;
    margin-bottom: 6px;
  }
  .contact p {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  
  .contact button {
    position: relative;
    float: right;
    margin-right: 10px;
    color: #285430;
    border: none;
    width: 36px;
    height: 36px;
    cursor: pointer;
    outline: none;
  }
  
  form.create-contact {
    position: relative;
    float: left;
    width: 550px;
    margin: 30px 30px 20px 20px;
    background: #E5D9B6;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
  }
  form.create-contact input,
  form.create-contact textarea {
    width: 100%;
    background-color: #E5D9B6;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
  }
  form.create-contact button {
    position: absolute;
    right: 18px;
    bottom: -18px;
    background: #5F8D4E;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
  }
  
  form.create-contact button:hover {
    background-color: #A4BE7B;
  }